@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
	padding: 0;
	font: inherit;
	vertical-align: baseline;
}

body {
	background-color: #dedede;
}

html, body {
    height: 100%;
}

html {
	max-width: 1920px;
	margin: auto;
}
